---
import Heading from "@/components/Heading.astro";
import MainLayout from "@/layouts/main.astro";
---

<MainLayout title="Projects">
  <section>
    <Heading>Projects</Heading>
    <p class="my-2">A curated list of things I build and maintain.</p>
    <ul class="my-3 list-disc px-4">
      <li>
        <a
          href="https://debasispanda.github.io/query-builder"
          target="_blank"
          rel="noopener noreferrer"
          class="underline decoration-dotted underline-offset-4"
        >
          Query Builder
        </a>
        <p class="my-1 text-sm opacity-80">
          Build SQL-style queries visually with filters, grouping, and sorting.
        </p>
      </li>
    </ul>
  </section>
</MainLayout>
