---
import siteConfig from "@/site.config";
import SocialLinks from "@/components/SocialLinks.astro";
---

<footer
  class="text-foreground/80 mt-auto flex max-w-full grow-0 flex-col items-center justify-between gap-6 pt-9 md:pt-11"
>
  {
    siteConfig.socialLinks && (
      <SocialLinks socialLinks={siteConfig.socialLinks} />
    )
  }
  <div
    class="flex flex-1 flex-col flex-wrap items-center justify-center md:flex-row"
  >
    <span class="my-1">
      {siteConfig.author} © 2025
    </span>
    <span class="mx-5 hidden md:block"> :: </span>
    <span class="my-1">
      Powered by <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://astro.build">Astro</a
      >
    </span>
  </div>
</footer>
